<h2 mat-dialog-title>Деталі замовлення</h2>
<mat-dialog-content>
  <p><strong>Order ID:</strong> {{ order.id }}</p>
  <p><strong>Дата замовлення:</strong> {{ order.orderDate | date:'short' }}</p>
  <p><strong>Місто:</strong> {{ order.city }}</p>
  <p><strong>Статус:</strong> {{ order.status ? 'Активне' : 'Неактивне' }}</p>
  <p><strong>Назва продуктів:</strong> {{ order.productNames }}</p>
  <p><strong>Редаговано:</strong> {{ order.editedDate | date:'short' }}</p>
  <p><strong>Інформація про клієнта:</strong></p>
  <ul>
    <li><strong>Ім'я:</strong> {{ order.Client.firstName }} {{ order.Client.lastName }}</li>
    <li><strong>Телефон:</strong> {{ order.Client.phoneNumber }}</li>
    <li><strong>Email:</strong> {{ order.Client.email }}</li>
    <li><strong>Статус:</strong> {{ order.Client.isActive ? 'Активний' : 'Неактивний' }}</li>
    <li><strong>Дата реєстрації:</strong> {{ order.Client.registrationAt | date:'short' }}</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Закрити</button>
</mat-dialog-actions>
